<div class="d-flex justify-content-center">
  <div class="col-6">

    <div class="my-5"><h1>Thêm mới hợp đồng</h1></div>
    <form [formGroup]="addContractForm" (ngSubmit)="addNewContract()" novalidate>
      <!--            ----------Form nhập ngày làm hợp đồng------------>
      <div class="form-group">
        <label>Ngày bắt đầu</label>
        <span style="color: red" *ngIf="addContractForm.hasError('required') && startDay?.dirty"> không được để trống</span>
        <br>
        <input type="date" class="form-control" formControlName="startDay" name="startDay" min="1920-01-01">
      </div>

      <!--            ----------Form nhập ngày kết thúc------------>
      <div class="form-group">
        <label>Ngày kết thúc</label><span style="color: red" *ngIf="addContractForm.hasError('required') && endDay?.dirty"> không được để trống</span>
        <span style="color: red" *ngIf="addContractForm.hasError('invalidEndDay')">Ngày kết thúc phải lớn hơn ngày bắt đầu</span>
        <br>
        <input type="date" class="form-control" formControlName="endDay" name="endDay" min="1920-01-01">
      </div>

      <!--            ----------Form nhập tiền đặt cọc------------>
      <div class="form-group">
        <label>Tiền đặt cọc</label>
        <input type="number" class="form-control" formControlName="deposit" name="deposit">
        <p></p>
      </div>

      <!--            ----------Form chọn khách hàng------------>
      <div class="form-group">
        <label>Khách hàng</label>
        <select class="form-select" formControlName="customer" name="customer">
          <option class="defaultSelect">Chọn khách hàng</option>
          <option></option>
        </select>

      </div>
      <!--            ----------Form chọn dịch vụ------------>
      <div class="form-group">
        <label>Cơ sở dịch vụ</label>
        <select class="form-select" formControlName="facility" name="facility">
          <option class="defaultSelect">Chọn cơ sở dịch vụ</option>
          <option></option>
        </select>
        <br>
      </div>

      <!--            ----------Nút tuỳ chọn------------>
      <div class="form-group d-flex align-items-center justify-content-center" style="margin-top: 25px">

        <a class="form-control btn btn-outline-secondary"
           style="text-decoration: none; color: black; width: 30%">Cancel</a>

        <input style="width: 30%" type="submit" class="form-control btn btn-outline-success mx-5"
               value="Submit">
      </div>
      <div class="form-group d-flex align-items-center justify-content-center"
           style="margin-top: 25px; margin-right: 50px;">


        <a class="form-control btn btn-success" style="text-decoration: none; color: white; width: 30%">Home</a>

      </div>
    </form>
  </div>
</div>
