<div class="d-flex justify-content-center">
  <div class="col-6">

    <div class="my-5"><h1>Cập nhật thông tin khách hàng</h1></div>
    <form [formGroup]="editCustomerForm" class="my-5" novalidate>
      <!-- <input hidden type="text" th:field="*{id}"> -->
      <!--            ----------Form nhập tên------------>
      <div class="form-group">
        <label>Họ tên</label>
        <span style="color: red" *ngIf="editCustomerForm.controls.name.hasError('required')&&name?.dirty"> không được để trống</span>
        <span style="color: red" *ngIf="editCustomerForm.controls.name.hasError('maxlength')"> không được có độ dài vượt quá 50 ký tự</span>
        <span style="color: red" *ngIf="editCustomerForm.controls.name.hasError('minlength')"> không được có độ dài nhỏ hơn 5 ký tự</span>
        <br>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <!--            ----------Form chọn loại khách------------>
      <div class="form-group">
        <label>Loại khách</label>
        <span style="color: red"
              *ngIf="customerType?.dirty && editCustomerForm.controls.customerType.hasError('required')"> phải được chọn</span>
        <select class="form-select hideDefaultSelect" formControlName="customerType">
          <option class="defaultSelect">Chọn loại khách</option>
        </select>
      </div>

      <!--            ----------Form nhập ngày sinh------------>
      <div class="form-group">
        <label>Sinh nhật</label>
        <input type="date" class="form-control"
               min="1920-01-01" formControlName="birthday">
      </div>
      <!--            ----------Form chọn giới tính------------>
      <div class="form-group">
        <label>Gender</label>
        <span style="color: red" *ngIf="editCustomerForm.controls.gender.hasError('required')&& gender?.dirty"> phải được chọn</span>
        <br>
        <select class="form-select hideDefaultSelect" formControlName="gender">
          <option class="defaultSelect">Chọn giới tính</option>
          <option>Nam</option>
          <option>Nữ</option>
        </select>
      </div>
      <!--            ----------Form nhập CCCD------------>
      <div class="form-group">
        <label>Số CMND</label>
        <span style="color: red" *ngIf="idNumber?.dirty && editCustomerForm.controls.idNumber.hasError('required')"> không được để trống</span>
        <span style="color: red"
              *ngIf="editCustomerForm.controls.idNumber.hasError('pattern')"> phải có 10 ký tự số</span>
        <br>
        <input type="text" class="form-control" placeholder="10 ký tự số" formControlName="idNumber">
      </div>

      <!--            ----------Form nhập số điện thoại------------>
      <div class="form-group">
        <label>Số điện thoại</label>
        <span style="color: red"
              *ngIf="phoneNumber?.dirty && editCustomerForm.controls.phoneNumber.hasError('required')"> không được để trống</span>
        <span style="color: red"
              *ngIf="editCustomerForm.controls.phoneNumber.hasError('pattern')"> đang sai định dạng</span>
        <br>
        <input type="text" class="form-control"
               placeholder="+849xxxxxxxx" formControlName="phoneNumber">
      </div>

      <!--            ----------Form nhập email------------>
      <div class="form-group">
        <label>Email</label>
        <span style="color: red" *ngIf="email?.dirty && editCustomerForm.controls.email.hasError('required')"> không được để trống</span>
        <span style="color: red"
              *ngIf="editCustomerForm.controls.email.hasError('email')"> đang sai định dạng</span>
        <br>
        <input type="text" class="form-control" placeholder="abc@abc.abc" formControlName="email">

      </div>
      <!--            ----------Form nhập địa chỉ------------>
      <div class="form-group">
        <label>Địa chỉ</label>
        <span style="color: red" *ngIf="address?.dirty && editCustomerForm.controls.address.hasError('required')"> không được để trống</span>
        <span style="color: red" *ngIf="editCustomerForm.controls.address.hasError('maxlength')"> không được dài hơn 100 ký tự</span>
        <br>
        <input type="text" class="form-control" formControlName="address">

      </div>
      <!--            ----------Nút tuỳ chọn------------>
      <div class="form-group d-flex align-items-center justify-content-center" style="margin-top: 25px">

        <a class="form-control btn btn-outline-secondary"
           style="text-decoration: none; color: black; width: 30%">Hủy</a>

        <input style="width: 30%" type="submit" class="form-control btn btn-outline-success mx-5"
               value="Xác nhận">
      </div>
      <div class="form-group d-flex align-items-center justify-content-center"
           style="margin-top: 25px; margin-right: 50px;">


        <a class="form-control btn btn-success"
           style="text-decoration: none; color: white; width: 30%">Trang chủ</a>

      </div>
    </form>
  </div>
</div>

