<h1>Danh sách sản phẩm</h1>
<table class="table table-success">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Tên</th>
    <th scope="col">Giá</th>
    <th scope="col">Mô tả</th>
    <th scope="col">Loại máy</th>
    <th scope="col">Chỉnh sửa</th>
    <th scope="col">Xóa</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category?.name}}</td>
    <td>
      <button class="btn btn-primary" type="button" [routerLink]="['/product/edit', product.id]">Chỉnh sửa</button>
    </td>
    <td>
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="passRemoveInfo(product?.id, product?.name)">Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
<!--<app-product-remove [product]="temp"></app-product-remove>-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa sản phẩm {{temp?.name}} không?
        <input #id hidden value="{{temp?.id}}"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="removeProduct(id.value)" data-bs-dismiss="modal">Xóa</button>
      </div>
    </div>
  </div>
</div>
