<h1 style="text-align: center">Danh sách cơ sở dịch vụ</h1>
<a class="btn btn-primary" routerLink="/facility/add" style="float: right">Add new Facility</a>
<div class="album py-5">
  <div class="d-flex justify-content-evenly">
    <div class="card" style="width: 20rem" *ngFor="let item of facilities">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">Diện tích:
          {{item.area}} <br>
          {{item.otherDescription}} <br>
<!--        {{item.facilityType?.name}} <br>-->
<!--        {{item.rentalType?.name}}</p>-->
        <a href="#!" class="btn btn-success" [routerLink]="['/facility/edit', item.id]">Cập nhật</a>
        <a href="#!" class="btn btn-warning">Chi tiết</a>
        <a href="#!" class="btn btn-danger">Xóa</a>
      </div>
    </div>
  </div>
</div>

