<h1 style="text-align: center">Danh sách hợp đồng</h1>

<nav style="float: right" class="navbar">
  <div class="container-fluid">
    <form class="d-flex" role="search" method="post">
      <input name="key1" class="form-control me-2" type="search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><img width="25px" height="25px"
                                                                 src="https://static.thenounproject.com/png/1063942-200.png">
      </button>
    </form>
  </div>
</nav>


<table class="table table-success">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Ngày bắt đầu</th>
    <th scope="col">Ngày kết thúc</th>
    <th scope="col">Tiền đặt cọc</th>
    <th scope="col">Tổng tiền</th>
    <th scope="col">Tên cơ sở dịch vụ</th>
    <th scope="col">Tên khách hàng</th>
    <th colspan="2" scope="col">Dịch vụ đi kèm</th>
    <th scope="col" colspan="2"><a class="btn btn-primary" routerLink="/contract/add">Thêm mới hợp đồng</a>
    </th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of contracts">
    <td>{{item.id}}</td>
    <td>{{item.startDay}}</td>
    <td>{{item.endDay}}</td>
    <td>{{item.deposit}}</td>
    <td>Từ từ tính</td>
    <td>{{item.facility?.name}}</td>
    <td>{{item.customer?.name}}</td>
    <td><a class="btn btn-primary">+</a>
    </td>
    <td><a class="btn btn-primary">Danh sách dịch vụ đi kèm</a></td>
    <td><a class="btn btn-success">Cập nhật</a></td>
    <td><a class="btn btn-danger">Xóa</a>
    </td>
  </tr>
  </tbody>
</table>



