<h1 style="text-align: center">Danh sách Khách hàng</h1>
<!--<th:block th:if="${message}">-->
<!--  <h4 style="text-align: center" th:text="${message}"></h4>-->
<!--</th:block>-->

<nav style="float: right" class="navbar">
  <div class="container-fluid">
    <form class="d-flex" role="search" method="post">
      <input name="key1" class="form-control me-2" type="search" placeholder="Search by Name"
             aria-label="Search">
      <input name="key2" class="form-control me-2" type="search" placeholder="And Email"
             aria-label="Search">
      <select style="text-align: center" class="form-select hideDefaultSelect" name="key3">
        <option class="defaultSelect" value="">- Loại khách -</option>
        <option>
        </option>
      </select>
      <button class="btn btn-outline-success" type="submit"><img width="25px" height="25px"
                                                                 src="https://static.thenounproject.com/png/1063942-200.png">
      </button>
    </form>
  </div>
</nav>

<!--<a th:href="@{/customer/customer-list}" class="btn btn-primary" type="button">Using Service Customer List</a>-->

<table class="table table-success">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Họ Tên</th>
    <th scope="col">Ngày sinh</th>
    <th scope="col">Giới tính</th>
    <th scope="col">Số điện thoại</th>
    <th scope="col">Email</th>
    <th scope="col">Địa chỉ</th>
    <th scope="col">Loại khách</th>
    <th scope="col" colspan="3"><a class="btn btn-primary" routerLink="/customer/add">Thêm mới khách hàng</a>
    </th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of customers">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.birthday}}</td>
    <td>
      <span *ngIf="item.gender === true">Nam</span>
      <span *ngIf="item.gender === false">Nữ</span>
    </td>
    <td>{{item.phoneNumber}}</td>
    <td>{{item.email}}</td>
    <td>{{item.address}}</td>
    <td>{{item.customerType?.name}}</td>
    <td><a class="btn btn-success"[routerLink]="['/customer/edit', item.id]">Cập nhật</a></td>
    <td><a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#remove"
           (click)="passRemoveInfo(item.id, item.name)">Xóa</a>
    </td>
  </tr>
  </tbody>
</table>

<div class="modal fade" id="remove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Chú ý!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa khách hàng "<span>{{removeName}}</span>" ?
        <input #id hidden value="{{removeId}}">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
        <button type="button" class="btn btn-primary" (click)="remove(id.value)">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
